<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Add Reservation</title>
        <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css" />
        <script type="text/javascript" src="/scripts/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/scripts/jquery.mousewheel.min.js"></script>
        <script type="text/javascript" src="/scripts/globalize.min.js"></script>
        <script type="text/javascript" src="/scripts/date.min.js"></script>
        <script type="text/javascript" src="/scripts/add.js"></script>
    </head>
    <body>
        <h1>Select A Reservation</h1>
        <p><label for="datepicker">Date:</label><input type="text" id="datepicker" /></p>
        <p><label for="timespinner">Time:</label><input id="timespinner" /></p>
    </body>
</html>